<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blogs.css">
    <title>Blogs</title>
</head>
<body>
    <div class="full_blog">
    <h1>All Blogs</h1>
    <a href="/createBlog">Create New Blog</a>
    <div class="inside_blog">
        <% blogs.forEach(blog => { %>
            <div class="card">
                <img class="blogHeaderImage" src="<%= blog.imagePath %>" alt="Blog Header Image" />
                <h2><%= blog.title %></h2>
                <p>By: <%= blog.author %></p>
                <p><small><%= blog.uploadedTime %></small></p>
                <a href="/blogs/<%= blog.id %>">Read More</a>
            </div>
        
        <% }) %>
    </div>
</div>
</body>
</html>
